<html>
	<head>
		<title>Node-Tivo</title>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
	    <style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>
	    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Hello. Node-Tivo is listening.</h1>
				</div>
			</div>
			<hr>